/**
 * 路由：{{ path }}
 */

import React from 'react'

const {{ properCase name }}: React.FunctionComponent = () => {
  return (
    <div>
      {{ properCase name }}
    </div>
  )
}

export default React.memo({{ properCase name }})
