import React from 'react'
import styled from 'styled-components'

const Title = styled.h1`
  color: black
`

const {{ properCase name }}: React.FunctionComponent = () => {
  return (
    <div>
      <Title>{{ properCase name }}</Title>
    </div>
  )
}

export default React.memo({{ properCase name }})
