import React from 'react'
{{#if isLayoutPage}}
import { Outlet } from 'react-router-dom'
{{/if}}
import styled from 'styled-components'

const Title = styled.h1`
  color: black;
`

const {{ properCase name }}: React.FunctionComponent = () => {
  return (
    <div>
      <Title>{{ properCase name }}</Title>
      {{#if isLayoutPage}}
      <Outlet />
      {{/if}}
    </div>
  )
}

export default React.memo({{ properCase name }})
